.Cards{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.buttonPage{
    cursor: pointer;
    background-color: transparent;
    border: transparent;
    color: #3a353f;
    font-size: 40px;
    margin: 1rem;
    margin-bottom: 0;
}
.buttonPage:hover{
    -webkit-filter: drop-shadow(5px 2px 1px rgba(34, 34, 34, 0.473));
    filter: drop-shadow(5px 2px 1px rgba(34, 34, 34, 0.356));
}
.notFound{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    opacity: 0.5;
}
.notFound h2{
    margin-right: 1rem;
}
@media (min-width: 768px){
    .buttonPage{
        font-size: 40px ;
    }
}