@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');

body {
  margin: 0;
  font-family: 'Montserrat';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #3a353f;
}
a:link, a:visited, a:active {
  text-decoration:none;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #505668;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
  overflow-x:hidden;
}
*:hover::-webkit-scrollbar{
  height: 8px;
}

*::-webkit-scrollbar-track {
  background: #f1ece109;
}

*::-webkit-scrollbar-thumb {
  background-color: #505668;
  border-radius: 10px;
  border: 4px solid #505668cb;
}

*:hover::-webkit-scrollbar-thumb{
  background-color:  #c05850;
}

